* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
body {
    margin: 0;
    padding: 0;
    background: url("fond.jpg") no-repeat center 0px;
background-size: cover;
}

.header {
    min-height: 100vh;
    position: relative;
    color: white;
}

/* TOP BAR */
.header-top {
    position: relative;
    display: flex;
    justify-content: flex-end; /* menu à droite */
    align-items: center;
    padding: 20px 80px;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Logo centré plus vers le milieu */
.logo {
    position: absolute;
    left: 400px;   /* ajuste si tu veux plus centré */
    top: 50px;
    width: 500px;
    height: 100px;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

/* CENTER CONTENT */
.header {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.header-content h1 {
    font-size: 2.6em;
    margin-bottom: 30px;
}

.header-content p {
    font-size: 1.2em;
    color: #cfdfff;
    margin-bottom: 40px;
}

/* BUTTONS */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.btn {
    padding: 14px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.primary {
    background-color: #1da1ff;
    color: rgb(255, 255, 255);
}

.secondary {
    border: 2px solid #1da1ff;
    color: #1da1ff;
}

/* DESCRIPTION */
.description {
    background-color: rgba(255, 255, 255, 0.274);
    display: inline-block;
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 700px;
}

/* SECTION PRESENTATION */
    .presentation {
    background: rgba(255, 255, 255, 0.568);
    backdrop-filter: blur(8px);
    text-align: center;
    padding: 60px 20px;   /* réduit l’espace interne */
    margin-top: -120px;   /* remonte la section */
}

.presentation {
    border-radius: 20px 20px 0 0;
}

.presentation h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #0a3d62;
}

.presentation p {
    max-width: 800px;
    margin: auto;
    color: #555;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(255, 255, 255, 0.315);
    padding: 40px 30px;
    width: 260px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(223, 223, 223, 0.315);
    font-size: 1.1em;
    color: #0a3d62;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: #00000052;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}

.nav {
    position: absolute;
    top: 20px;
    right: 40px;
}

.nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav a:hover {
    color: #00c3ff;
}

.card {
    text-decoration: none;
    color: inherit;
    background: rgba(255, 255, 255, 0.308);
    padding: 30px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

body.home {
    background: url("fond.jpg") no-repeat center center 0px;
    background-size: cover;
}

body.matieres {
    background: url("fond2.jpg") no-repeat center center fixed;
    background-size: cover;
}

body.presentation-page {
    background: url("fond-decouvre-filiere.png") no-repeat center -50px fixed;
    background-size: 100% auto; 
}

body.projets {
    background: url("fond-projet.png") no-repeat center -100px fixed;
    background-size: 100% auto;
}

/* FOND CYBERSECURITE */
body.cyber {
    background: url("fond-cyber.png") no-repeat center center fixed;
    background-size: cover;
}

/* FOND INFORMATIQUE & RESEAUX */
body.info-reseaux {
    background: url("fond-info-reseaux.png") no-repeat center center fixed;
    background-size: cover;
}
/* FOND ELECTRONIQUE */
body.electro {
    background: url("fond-electro.png") no-repeat center center fixed;
    background-size: cover;
}

.scan-text{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-shadow:
        0 0 5px #00eaff,
        0 0 10px #00eaff,
        0 0 20px #00eaff;
}


